<?xml version="1.0"?>
<phpunit colors="true" processIsolation="true" bootstrap="tests/bootstrap.php">
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="construct">
      <file>tests/ConstructTest.php</file>
    </testsuite>
    <testsuite name="class">
      <file>tests/ClassTest.php</file>
    </testsuite>
    <testsuite name="assign">
      <file>tests/AssignTest.php</file>
    </testsuite>
    <testsuite name="sql">
      <file>tests/SqlTest.php</file>
    </testsuite>
    <testsuite name="array">
      <file>tests/ArrayTest.php</file>
    </testsuite>
    <testsuite name="serialize">
      <file>tests/SerializeTest.php</file>
    </testsuite>
    <testsuite name="config">
      <file>tests/ConfigTest.php</file>
    </testsuite>
    <testsuite name="mongo">
      <file>tests/MongoTest.php</file>
    </testsuite>
    <testsuite name="edgecase">
      <file>tests/EdgeCaseTest.php</file>
    </testsuite>
    <testsuite name="nested">
      <file>tests/NestedStructureTest.php</file>
    </testsuite>
    <testsuite name="iterator">
      <file>tests/IteratorCountableTest.php</file>
    </testsuite>
    <testsuite name="magic">
      <file>tests/MagicMethodTest.php</file>
    </testsuite>
    <testsuite name="attribute">
      <file>tests/AttributeTest.php</file>
    </testsuite>
    <testsuite name="typedarray">
      <file>tests/TypedArrayTest.php</file>
    </testsuite>
    <testsuite name="datetime">
      <file>tests/DateTimeTest.php</file>
    </testsuite>
    <testsuite name="sqlstatement">
      <file>tests/SqlStatementTest.php</file>
    </testsuite>
    <testsuite name="scalar">
      <file>tests/ScalarTest.php</file>
    </testsuite>
    <testsuite name="typedclass">
      <file>tests/TypedClassTest.php</file>
    </testsuite>
    <testsuite name="conversionoptions">
      <file>tests/ConversionOptionsTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
